# STORE_CORS=http://localhost:8000,https://docs.medusajs.com
# ADMIN_CORS=http://localhost:7000,http://localhost:7001,https://docs.medusajs.com
# AUTH_CORS=http://localhost:7000,http://localhost:7001,https://docs.medusajs.com

ADMIN_CORS="https://welcomed-entirely-grub.ngrok-free.app"
STORE_CORS="*"
# ADMIN_CORS="*"
AUTH_CORS="*"
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=postgres://postgres:gapG5XC8CiOj@0000:5432/postgres?ssl_mode=disable
DB_NAME=postgres
POSTGRES_URL=postgres://postgres:gapG5XC8CiOj@0000:5432/postgres?ssl_mode=disable
BACKEND_URL="https://welcomed-entirely-grub.ngrok-free.app" # The deployed URL and for development just use "https://welcomed-entirely-grub.ngrok-free.app"

## To handle images and files we use the S3 file module

S3_FILE_URL="https://bepnhasun.s3.us-east-1.amazonaws.com"
S3_ACCESS_KEY_ID=""
S3_SECRET_ACCESS_KEY=""
S3_REGION="us-east-1"  # e.g. "us-east-1"
S3_BUCKET="bepnhasun"
S3_ENDPOINT="https://s3.us-east-1.amazonaws.com"


## Sanity - Data sync

SANITY_API_TOKEN="skZYV0YSAG7jRzLpAXEhuFN4qIueNIP4pq8FBR24eeADBG4bvupsNmxhgkQKtwsza10N2mMNxJB7iH1fn1Y4aPHcJgvzpNT5n13gzIBEsKcICJc4wssEywhfAAYuaNJ7dAFjaRRWa8MDygoAJBp7SDEj5Cs2akyGaeegd5pSevU6pwlLfsym" # Accessed from the Sanity admin https://www.sanity.io/manage
SANITY_PROJECT_ID="qau35ymi"

## Emails
MEDUSA_PUBLISHABLE_KEY="pk_c29e240c0821c739e17d456b1d3b0794527e7309df9162070fa86109b0741095" # Needed for the admin extensions, you can get this from the deployed admin
RESEND_API_KEY="re_xxxxxxxxxxxx" # resend.dev

STRIPE_API_KEY="sk_test_"