STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:7000,http://localhost:7001,https://docs.medusajs.com
AUTH_CORS=http://localhost:7000,http://localhost:7001,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=postgres://postgres:bepnhasun#2025@0000:5432/postgres
DB_NAME=postgres
POSTGRES_URL=postgres://postgres:bepnhasun#2025@0000:5432/postgres
BACKEND_URL="http://localhost:9000" # The deployed URL and for development just use "http://localhost:9000"

## To handle images and files we use the S3 file module

S3_FILE_URL=""
S3_ACCESS_KEY_ID=""
S3_SECRET_ACCESS_KEY=""
S3_REGION=""
S3_BUCKET=""
S3_ENDPOINT=""

## Sanity - Data sync

SANITY_API_TOKEN="skTkPUQYGUbr3XRIBu5KtkXXY8OcGVRHB9aBHqz7krXH1THu6XzbX9mRK7pgd4uLq2KDb9g0HVPSiTlUYzsEx3MtM5DguLSUbDBrWl7ulhfZMNEAn8Cmimxi30AOZ2pjdIXsGO6vYw52NNbN5mpjk8F8NEIZbuxHF9CAscVzQv8cNZ7zquoC" # Accessed from the Sanity admin https://www.sanity.io/manage
SANITY_PROJECT_ID="qau35ymi"

## Emails
MEDUSA_PUBLISHABLE_KEY="" # Needed for the admin extensions, you can get this from the deployed admin
RESEND_API_KEY="" # resend.dev