## Sanity
NEXT_PUBLIC_SANITY_PROJECT_ID="qau35ymi"
NEXT_PUBLIC_SANITY_DATASET="production"
SANITY_API_TOKEN="skTkPUQYGUbr3XRIBu5KtkXXY8OcGVRHB9aBHqz7krXH1THu6XzbX9mRK7pgd4uLq2KDb9g0HVPSiTlUYzsEx3MtM5DguLSUbDBrWl7ulhfZMNEAn8Cmimxi30AOZ2pjdIXsGO6vYw52NNbN5mpjk8F8NEIZbuxHF9CAscVzQv8cNZ7zquoC" # Accessed from the Sanity admin https://www.sanity.io/manage
NEXT_PUBLIC_SANITY_API_VERSION="2025-01-08" # Or today's date in format YYYY-MM-DD

## Medusa
NEXT_PUBLIC_MEDUSA_BACKEND_URL="http://localhost:9000/store" # The deployed store url + "/store". e.g : https://handle.medusajs.app/store
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY="pk_c29e240c0821c739e17d456b1d3b0794527e7309df9162070fa86109b0741095" # You can find this in the deployed store

## Stripe
NEXT_PUBLIC_STRIPE_KEY="sk_test_xxx" # A stripe key